body {
    font-family: 'Courier New', Courier, monospace; /* Fuente comÃƒÂºn para recibos */
    letter-spacing: -0.5px; /* Ajustar el espacio entre letras */
    line-height: 1.2; /* Ajustar el espacio entre lÃƒÂ­neas */
background-color: #413030;
}

.invoice {
    height: auto;
    width: 80mm; /* Ancho ajustado a 80mm */
    margin: auto;
    padding: 8px; /* Ajustar padding para mejor encaje */
    /* border: 1px solid #000; */
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header, .footer {
    text-align: center;
    margin-bottom: 10px; /* Reducido para mejor encaje */
}

.header .logo {
    display: block;
    margin: 0 auto 5px; /* Ajustar mÃƒÂ¡rgenes para mejor encaje */
    max-width: 50mm; /* Ajustar el tamaÃƒÂ±o de la imagen para que se ajuste al ancho */
    height: auto;
}

.invoice-details, .totals {
    margin-bottom: 5px; /* Reducido para mejor encaje */
}

.inline-details {
    display: flex;
    justify-content: space-between; /* Espaciado entre elementos */
}

.inline-details p {
    margin: 0; /* Eliminar margen entre los pÃƒÂ¡rrafos */
    padding: 0 4px; /* Espacio entre los elementos */
}

.items {
    width: 100%;
    border-collapse: collapse;
}

.items th, .items td {
    border: 1px solid #000;
    padding: 4px; /* Reducir padding para mejor encaje */
    text-align: left;
    font-size: 12px; /* Ajustar el tamaÃƒÂ±o de fuente para mejor encaje */
    letter-spacing: -0.5px; /* Ajustar el espacio entre letras */
    line-height: 10px; /* Ajustar el espacio entre lÃƒÂ­neas */
}

.totals p {
    text-align: right;
    font-size: 12px; /* Ajustar el tamaÃƒÂ±o de fuente para mejor encaje */
    letter-spacing: -0.5px; /* Ajustar el espacio entre letras */
    line-height: 10px; /* Ajustar el espacio entre lÃƒÂ­neas */
}

.invoice p {
    font-size: 12px; /* Ajustar el tamaÃƒÂ±o de fuente para mejor encaje */
    letter-spacing: -0.5px; /* Ajustar el espacio entre letras */
    line-height: 10px; /* Ajustar el espacio entre lÃƒÂ­neas */
}

.invoice h1 {
    font-size: 30px; /* Ajustar el tamaÃƒÂ±o de fuente para mejor encaje */
    letter-spacing: 1px; /* Ajustar el espacio entre letras */
    line-height: 10px; /* Ajustar el espacio entre lÃƒÂ­neas */
}
.invoice h2 {
    font-size: 15px; /* Ajustar el tamaÃƒÂ±o de fuente para mejor encaje */
    letter-spacing: -0.5px; /* Ajustar el espacio entre letras */
    line-height: 15px; /* Ajustar el espacio entre lÃƒÂ­neas */
}
